my server name is {{ ansible_hostname }}.My ip address is {{ ansible_default_ipv4.address }}.My mac address is {{ ansible_default_ipv4.macaddress }}.My operating system is {{ ansible_distribution }}.My OS version is {{ ansible_distribution_version }}
